body {
    margin: 5%;
    padding: 2%;
    text-align: center;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2% 2% 2% 2%;
    font-size: 4em;
    font-family: 'Supermercado One', cursive;
}

.start-btn {
    background-color: rgb(170, 208, 175);
}

.pause-btn {
    background-color: rgb(175, 165, 165);
}

.stop-btn {
    background-color: rgb(240, 135, 135);
}

button {
    border-style: hidden;
    text-align: center;
    justify-content: end;
    color: rgb(0, 0, 0);
    padding: 1% 1% 1% 1%;
    border-radius: 5vh;
    width: 20%;
    height: 20%;
    cursor: pointer;
    font-size: 15px;
}

.start-btn:hover {
    background-color: green;
}

.pause-btn:hover {
    background-color: gray;
}

.stop-btn:hover {
    background-color: red;
}

fieldset {
    background-color: rgb(0, 0, 0);
    padding: 0% 0% 3% 0%;
    border-radius: 10vh;
    width: 17em;
    height: 12em;
    align-items: center;
}